<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>PermissionFilter</filter-name>
  	<display-name>PermissionFilter</display-name>
  	<description></description>
  	<filter-class>com.hand.servlet.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>PermissionFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FilmServlet</servlet-name>
  	<display-name>FilmServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.FilmServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<display-name>InsertServlet</display-name>
  	<description></description>
  	<servlet-class>com.hand.servlet.InsertServlet</servlet-class>
  </servlet>
  
  
  
  
  
  
  
  
  
  
  
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FilmServlet</servlet-name>
  	<url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  

</web-app>
